openapi: 3.2.0
info:
  title: Unbabel Translation Language Pairs API
  description: The Unbabel Translation API (tapi/v2) is an asynchronous REST API for the Unbabel Language Operations (LangOps) platform.
  version: '2.0'
  contact:
    name: Unbabel Developers
    url: https://developers.unbabel.com
servers:
- url: https://api.unbabel.com/tapi/v2
  description: Production
- url: https://sandbox.unbabel.com/tapi/v2
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Language Pairs
  description: Supported source-to-target language combinations.
paths:
  /language_pair/:
    get:
      operationId: listLanguagePairs
      tags:
      - Language Pairs
      summary: List language pairs
      description: Lists the supported source-to-target language pairs, optionally filtered by a set of training languages.
      parameters:
      - name: train_langs
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated language codes to filter the returned pairs.
      responses:
        '200':
          description: A list of supported language pairs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/LanguagePair'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    LanguagePair:
      type: object
      properties:
        lang_pair:
          type: object
          properties:
            source_language:
              $ref: '#/components/schemas/Language'
            target_language:
              $ref: '#/components/schemas/Language'
    Language:
      type: object
      properties:
        name:
          type: string
        shortname:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API credentials.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication of the form `Authorization: ApiKey <username>:<api_key>`.'
