openapi: 3.2.0
info:
  title: Unbabel Translation Account API
  description: The Unbabel Translation API (tapi/v2) is an asynchronous REST API for the Unbabel Language Operations (LangOps) platform.
  version: '2.0'
  contact:
    name: Unbabel Developers
    url: https://developers.unbabel.com
servers:
- url: https://api.unbabel.com/tapi/v2
  description: Production
- url: https://sandbox.unbabel.com/tapi/v2
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Account
  description: Authenticated customer account information.
paths:
  /account/:
    get:
      operationId: getAccount
      tags:
      - Account
      summary: Retrieve account
      description: Retrieves the authenticated customer account's information and balance.
      responses:
        '200':
          description: The account details for the authenticated credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API credentials.
  schemas:
    Account:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        balance:
          type: number
          description: Remaining prepaid balance or credit on the account.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication of the form `Authorization: ApiKey <username>:<api_key>`.'
