openapi: 3.2.0
info:
  title: Unbabel Translation Tone and Topic API
  description: The Unbabel Translation API (tapi/v2) is an asynchronous REST API for the Unbabel Language Operations (LangOps) platform.
  version: '2.0'
  contact:
    name: Unbabel Developers
    url: https://developers.unbabel.com
servers:
- url: https://api.unbabel.com/tapi/v2
  description: Production
- url: https://sandbox.unbabel.com/tapi/v2
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Tone and Topic
  description: Available tones and topics/domains for a translation.
paths:
  /tone/:
    get:
      operationId: listTones
      tags:
      - Tone and Topic
      summary: List tones
      description: Lists the tones available for a translation, such as formal or friendly.
      responses:
        '200':
          description: A list of available tones.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tone'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /topic/:
    get:
      operationId: listTopics
      tags:
      - Tone and Topic
      summary: List topics
      description: Lists the topics/domains available to provide subject-matter context.
      responses:
        '200':
          description: A list of available topics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Topic'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API credentials.
  schemas:
    Topic:
      type: object
      properties:
        name:
          type: string
    Tone:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication of the form `Authorization: ApiKey <username>:<api_key>`.'
